.m_footer
  position relative
  z-index 100
  background #dfdbd6
  padding 80px 0
  &:after
    content ''
    width 300px
    height 260px
    border 15px solid #e5e3e0
    border-bottom none
    position absolute
    left 50%
    bottom 0
    margin-left -300px
    z-index -1
  .column
    float left
    width 50%
    .heading
      brad()
      font-size 34px
    .logo
      width 200px
      height 83px
      margin-top 25px
      background url("../images/logo-f.png") no-repeat 0 0
  .row
    padding 9px 0
    .label
      black()
      display inline-block
      vertical-align middle
      color #c0a077
      text-align right
      width 180px
      padding-right 20px
