.zoom-anim-dialog
  background: white;
  text-align: left;
  max-width: 950px;
  margin: 40px auto;
  position: relative;
  height 460px
  padding 50px
  @media screen and (max-width: 992px)
    padding 40px 20px
    height 570px
  .mfp-close
    background url('../images/close.png') no-repeat 0 -33px
    width 16px
    height 17px
    opacity .5
    text-indent -9999px
    right 15px
    top 15px
    &:hover
      opacity 1
  .heading
    brad()
    font-size 34px
    @media screen and (max-width: 992px)
      text-align center
    @media screen and (max-width: 568px)
      font-size 28px
  .small-heading
    font-size 25px
    padding 20px 0
    position relative
    @media screen and (max-width: 992px)
      padding 5px 0px
      text-align center
    @media screen and (max-width: 568px)
      font-size 21px
    &:after
      content ''
      width 95px
      height 2px
      position absolute
      left 0
      bottom 0
      background $orange
      @media screen and (max-width: 992px)
        left 50%
        margin-left -47.5px
        bottom -15px
#modal-success
  max-width 640px
  @media screen and (max-width: 480px)
    height auto
    padding 75px 0
  .success-image
    position absolute
    right 0
    top 0
    width 380px
    height 100%
    padding 50px
    padding-left 0
    @media screen and (max-width: 480px)
      display none
    .image
      position relative
      left 0
      top 0
      width 100%
      height 100%
      background url("../images/s13/bg.jpg") no-repeat 50%
      background-size cover
      padding 15px
      @media screen and (max-width: 480px)
        display none
      &:after
        content ''
        position absolute
        left 0
        top 0
        width 100%
        height 100%
        background #fff
        opacity .7
      .frame
        width 100%
        height 100%
        background #fff
  .success
    position relative
    z-index 1
    height 100%



#modal-form
  .form-title
    position relative
    z-index 10
    height 100%
    @media screen and (max-width: 992px)
      height auto
  .frame
    width 680px
    height 340px
    position absolute
    right 50px
    top 50%
    margin-top -(@height/2)
    background url("../images/s13/bg.jpg") no-repeat 50%
    background-size cover
    padding 15px
    @media screen and (max-width: 992px)
      position relative
      margin-top 40px
      width 440px
      margin 20px auto 20px
      right 0
      top 40px
    @media screen and (max-width: 568px)
      top 0
      margin-top 40px

    @media screen and (max-width: 568px)
      width 100%
    &:before
      content ''
      width 100%
      height 100%
      position absolute
      left 0
      top 0
      background rgba(255,255,255,.5)
    .form-wrap
      position relative
      height 100%
      &:after
        content ''
        width 100%
        height 100%
        position absolute
        left 0
        top 0
        background rgba(255,255,255,1)
        z-index 9